.project-container {
  @media (max-width: 768px){
    width: 100%;
  }
  @media (min-width: 769px){
    width: 20%;
    margin: 2rem;
  }
  background-color: #fff;
  border: 0.25rem solid #54000d;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  &:hover {
    background-color: rgb(204, 204, 204);
    border: 0.25rem solid #000;
    cursor: pointer;
    a {
      color: #54000d;
    }
  }
  a {
    text-decoration: none;
    color: #000;
  }
}

.all-projects-container {
  display: flex;
  flex-wrap: wrap;
  
}

.project-logo {
  margin: 0.5rem 0;
  border: 0.05rem solid #54000d;
  border-radius: 0.25rem;
  height: 6.5rem;
}

.projects-title-container {
  @media (max-width: 768px) {
    h1, h2 {
      font-size: medium;
    }
  }
}