.tech-teaching-links-container {
  .tech-teaching-link {
    background-color: #fff;
    border: 0.25rem solid #54000d;
    border-radius: 0.25rem;
    &:hover {
      background-color: #54000d;
      color: #fff;
    }
  }
  @media(min-width: 769px) {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0;
    .tech-teaching-link {
      font-size: large;  
      width: 17rem;
      height: 3.5rem;
    }
  }
  @media(max-width: 768px) {
    margin: 0.5rem 0;
    .tech-teaching-link {
      width: 10rem;
      margin: 0.25rem;
      height: 3.5rem;
    }
  }
}

.teaching-background {
  h4, h5, h6, p {
    // font-family: 'Architects Daughter', cursive;
    font-family: 'Cabin Sketch', cursive;
  }
  background-color: #000;
  color: antiquewhite;
  border: 0.75rem solid #462009;
  border-radius: 0.15rem;
  .individual-experience {
    border-top: 0.15rem dashed antiquewhite;
    &:last-of-type {
      border-bottom: 0.35rem solid #462009;
    }
  }
  @media (max-width: 768px){
    padding: 0.5rem;
  }
  @media (min-width: 769px){
    padding: 2.5rem;
  }
}