.skills-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .individual-skill {
    background-color: #fff;
    margin: 0.15rem;
    border: 0.15rem solid #54000d;
    border-radius: 0.15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 768px){
      width: 25%;
    }
    @media (min-width: 769px){
      width: 20%;
    }
    .languages-label {
      margin-bottom: 0;
    }
  }
}

.single-experience {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  h5 {
    margin-left: 0.25rem;
  }
  .job-logo {
    max-width: 3rem;
    margin-left: 0.25rem;
  }
}

.work-education-experience, .additional-skills-container, .title-container {
  background-color: #fff;
  border: 0.25rem solid #54000d;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.project-link {
  text-decoration: none;
}

.individual-experience {
// &:not(:last-of-type) {
  border-top: 0.15rem dashed #54000d;
// }
  padding-top: 0.75rem;
}

.language-icon {
  padding-top: 0.5rem;
  height: 3rem;
}

.bio-container, .personal-interests-container {
  background-color: #fff;
  margin: 0.25rem;
  padding: 0.25rem;
  border: 0.15rem dashed #54000d;
  border-radius: 0.15rem;
}