.navbar-container {
  width: 65%;
  @media (min-width: 900px){
    width: 40%;
  }
  // display: flex;
  // align-items: flex-end;
}

.navbar-link {
  text-decoration: none;
  margin-left: 4%;
}

.navbar {
  background-color: #5A5A5A;
  a {
    color: #fff;
  }
}

